{% extends 'news/base.html' %}

{% block news_title %}Останні новини{% endblock %}

{% block news_content %}

    <h3>Останні новини</h3>

    <ul>
        {% for post in context.posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    
    <h3>Кактегорії</h3>
    <ul>
        {% for category in context.categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endfor %}
        
    
    </ul>
    
{% endblock %}
